<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ng-image-slider 
    [images]="imageObject" 
    [infinite]="false" 
    [imagePopup]="true" 
    [showArrow]="false"
    [imageSize]="{width: 400, height: 300}" 
    (imageClick)="imageOnClick($event)"
    (arrowClick)="arrowOnClick($event)"
    #nav></ng-image-slider>
    <button type="button" (click)="prevImageClick()">Prev</button>
    <button type="button" (click)="nextImageClick()">Next</button>
</div>

