<div class="img-slider">
    <div class="container">
        <div class="main"
            [ngStyle]="{'height':sliderImageHeight+'px'}"
            #sliderMain>
            <div class="main-inner" 
                [ngStyle]="{'margin-left':leftPos+'px', 'width':imageParentDivWidth+'px', 'transition': effectStyle}"
                (touchstart)="swipe($event, 'start')"
                (touchend)="swipe($event, 'end')">
                <div [ngClass]="{'image-popup': imagePopup}"
                    [ngStyle]="{'width':sliderImageWidth+'px', 'height':sliderImageHeight+'px'}"
                    class="img-div"
                    *ngFor="let img of imageObj;let i = index"
                    (click)="imageOnClick(i)"
                    #imageDiv>
                    <img class="img-fluid" [src]="img.thumbImage" />
                </div>
            </div>
            <a [ngClass]="{'disable': sliderPrevDisable}" class="prev icons prev-icon" (click)="prev()">&lsaquo;</a>
            <a [ngClass]="{'disable': sliderNextDisable}" class="next icons next-icon" (click)="next()">&rsaquo;</a>
        </div>
    </div>
</div>

<div class="img-lightbox" *ngIf="ligthboxShow">
    <div class="lightbox-wrapper">
        <div class="lightbox-div" >
            <div class="pre-loader">
                <div class="mnml-spinner"></div>
            </div>
            <a class="close" (click)="close()">&times;</a>
            <img *ngIf="currentImageSrc" [ngClass]="{'show': showImage, 'hide': !showImage}" [src]="currentImageSrc">
            <a [ngClass]="{'disable': lightboxPrevDisable}" class="prev icons prev-icon" (click)="prevImage()">&lsaquo;</a>
            <a [ngClass]="{'disable': lightboxNextDisable}" class="next icons next-icon" (click)="nextImage()">&rsaquo;</a>
        </div>
    </div>
</div>